

.nav-bar{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(203, 202, 202);
}


.stories{
    display: flex;
    justify-content: space-between;
}

.profile{
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.profile-photo{
    border-radius: 50%;
    height:50px;
    width: 50px;
}